# Binaries
suse-ai-opentelemetry-collector/suse-ai-opentelemetry-collector
suse-ai-opentelemetry-collector/suse-ai-opentelemetry-collector_windows_amd64.exe
suse-ai-opentelemetry-collector/suse-ai-opentelemetry-collector_darwin_amd64
suse-ai-opentelemetry-collector/suse-ai-opentelemetry-collector_linux_amd64

# Go
vendor/
*.exe
*.test
*.out
